/*

    Author: Yonnon

    Website: Madara Web DEMO

*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Nav Bar
    04. Main content

--------------------------------------------- */
/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/
/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/
/* IPHONE 5, SE */
/* IPHONE 6,7,8 */
/* IPHONE 6,7,8 (plus) */
/* 


/* IPHONE X */
/* 


/* SMALL TABLE */
/* 


/* IPAD */
/* 


/* IPAD PRO */
/* 


/* DESKTOP */
/* 


/* Custom */
body {
  height: 100%;
}

img {
  user-select: none;
}

::selection {
  background-color: #eb3349;
  color: #fff;
}

/* 
------------------------------------------------
03. Nav Bar
------------------------------------------------
*/
.container-nav .main-nav__category {
  display: flex;
  flex-direction: row;
}
.container-nav .main-nav__category p {
  display: inline-block !important;
  margin: 0;
  color: #eb3349;
  font-weight: 600;
}
.container-nav .main-nav__category span {
  margin: 0 5px;
}
.container-nav .main-nav__category a {
  color: #111;
}

/* 
------------------------------------------------
04. Main content
------------------------------------------------
*/
.container-form-cart {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 30vh;
  margin: 0px auto;
  margin-top: 0em;
  width: 70%;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 15px 45px rgba(0, 29, 147, 0.15);
}
@media screen and (max-width: 1023px) {
  .container-form-cart {
    width: 100% !important;
    height: 110%;
  }
}
.container-form-cart .form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-form-cart .form .form-header {
  padding: 10px 20px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .container-form-cart .form .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container-form-cart .form .form-header h2, .container-form-cart .form .form-header p {
  line-height: 30px;
}
.container-form-cart .form .form-content__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2em 0;
}
@media screen and (max-width: 1023px) {
  .container-form-cart .form .form-content__progress {
    flex-direction: column;
  }
}
.container-form-cart .form .form-content__progress span.span-control {
  font-size: 150%;
}
@media screen and (max-width: 1023px) {
  .container-form-cart .form .form-content__progress span.span-control {
    display: none;
  }
}
.container-form-cart .form .form-content__progress .progress-item {
  margin: 0 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
@media screen and (max-width: 1023px) {
  .container-form-cart .form .form-content__progress .progress-item {
    margin: 1em 0;
  }
}
.container-form-cart .form .form-content__progress .progress-item i {
  font-size: 150%;
}
.container-form-cart .form .form-content__progress .progress-item p {
  margin: 10% 0;
  font-weight: 600;
  user-select: text;
  cursor: text;
}
.container-form-cart .form .form-content__progress .progress-item span {
  display: block;
  text-align: center;
  left: 0;
  z-index: 9999;
  font-weight: bold;
  width: 100%;
  width: 35px;
  height: 35px;
  background-color: #7b7b7b;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-cart .form .form-content__progress .progress-item span a {
  color: #fff;
}
.container-form-cart .form .form-content__progress .first-step i {
  color: #eb3349;
}
.container-form-cart .form .form-content__progress .first-step p {
  color: #eb3349;
}
.container-form-cart .form .form-content__progress .first-step span {
  background-color: #eb3349;
  border: 1px solid #b62b3b;
}
.container-form-cart .form .form-content__detailProduct {
  margin: 2em 0;
}
.container-form-cart .form .form-content__detailProduct table {
  width: 95%;
  margin: 0px auto;
}
.container-form-cart .form .form-content__mainRedirect {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-totalMoney {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-totalMoney p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #111;
  font-weight: 600;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-totalMoney span {
  margin: 0 0 0 5%;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button {
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button button {
  padding: 10px 15px;
  border-radius: 5px;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__first {
  margin: 0 1%;
  background-color: #10182f;
  color: #fff;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__first:hover {
  background-color: #303c5d;
  transition: all ease .3s;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__first:active {
  background-color: #1a1011;
  transition: all ease 0s;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__second {
  background-color: #eb3349;
  color: #fff;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__second:hover {
  background-color: #f35b43;
  transition: all ease .3s;
}
.container-form-cart .form .form-content__mainRedirect .mainRedirect-button__second:active {
  background-color: #b62b3b;
  transition: all ease 0s;
}

/*# sourceMappingURL=cart.css.map */
