/*

    Author: Yonnon

    Website: Madara Web DEMO

*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Preloader
    04. Header
    05. Nav

--------------------------------------------- */
/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/
/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/
/* IPHONE 5, SE */
/* IPHONE 6,7,8 */
/* IPHONE 6,7,8 (plus) */
/* 


/* IPHONE X */
/* 


/* SMALL TABLE */
/* 


/* IPAD */
/* 


/* IPAD PRO */
/* 


/* DESKTOP */
/* 


/* Custom */
body {
  height: 100vh;
}

img {
  user-select: none;
}

::selection {
  background-color: #eb3349;
  color: #fff;
}

/* 
---------------------------------------------
03. Preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container-form-signup {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95vh;
  margin: 0px auto;
}
@media screen and (max-width: 1023px) {
  .container-form-signup {
    height: 110vh;
  }
}
.container-form-signup .form {
  width: 50%;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 15px 45px rgba(0, 29, 147, 0.15);
}
@media screen and (max-width: 1023px) {
  .container-form-signup .form {
    width: 100% !important;
    height: 100%;
  }
}
.container-form-signup .form .form-header {
  padding: 10px 20px;
  border-bottom: 1px solid #dae1f5;
}
@media screen and (max-width: 1023px) {
  .container-form-signup .form .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container-form-signup .form .form-header h2, .container-form-signup .form .form-header p {
  line-height: 30px;
}
.container-form-signup .form .main-form input[type=text] {
  position: relative;
  margin: 20px 5px;
  width: 100% !important;
  height: 38px;
  caret-color: #306BF3;
}
.container-form-signup .form .main-form input[type=text]::placeholder {
  font-size: 110%;
  color: #545D7A;
  line-height: 40px;
  color: #111;
}
.container-form-signup .form .main-form input[type=text]:focus {
  line-height: 40px;
  color: #111;
}
.container-form-signup .form .main-form i:not(#i-date):not(#i5) {
  position: absolute;
  right: 10px;
  font-size: 15px;
  display: none;
  color: #dd3434;
}
.container-form-signup .form .main-form i#i5 {
  color: #dd3434;
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 12px;
  display: none;
}
.container-form-signup .form .main-form p#date-display {
  margin-top: -10px;
  margin-bottom: -20px;
}
.container-form-signup .form .main-form .class-form {
  margin: 0px auto;
  width: 70%;
}
.container-form-signup .form .main-form .class-form .col-md-6 {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-signup .form .main-form .class-form .col-md-6 input {
  width: 100% !important;
}
.container-form-signup .form .main-form .class-form .first-12 {
  margin: 0px !important;
  padding: 0px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.container-form-signup .form .main-form .class-form .first-12 input {
  width: 97%;
  height: 38px;
}
.container-form-signup .form .main-form .class-form .first-12 input#in3 {
  margin-bottom: 40px;
}
.container-form-signup .form .main-form .class-form .prev-12 {
  margin: 0px 5px !important;
  padding: 0px !important;
}
@media screen and (max-width: 1023px) {
  .container-form-signup .form .main-form .class-form .prev-12 {
    width: 100%;
  }
}
.container-form-signup .form .main-form .class-form .prev-12 label {
  font-size: 1.1em;
}
.container-form-signup .form .main-form .class-form .prev-12 input {
  width: 97%;
  margin-bottom: 15px !important;
  margin-top: 5px !important;
  padding: 0px !important;
  padding: 0px 20px !important;
}
.container-form-signup .form .main-form .class-form .prev-12 input#date {
  height: 38px;
}
.container-form-signup .form .main-form .class-form .prev-12 input.input-radio {
  font-size: 10px !important;
}
@media screen and (max-width: 1023px) {
  .container-form-signup .form .main-form .class-form .prev-12 input.input-radio {
    margin-left: 40% !important;
  }
}
.container-form-signup .form .main-form .class-form .prev-12 i {
  color: rgba(0, 0, 0, 0.7);
}
.container-form-signup .form .main-form .class-form .prev-12 .medi-4 {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .container-form-signup .form .main-form .class-form .prev-12 .medi-4 {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}
.container-form-signup .form .main-form .class-form .prev-12 .medi-4 p {
  margin-right: 5px;
  font-size: 105%;
}
.container-form-signup .form .main-form .class-form .prev-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container-form-signup .form .main-form .class-form p#display-pass {
  margin-top: 3%;
}
.container-form-signup .form .main-form p.col-md-12 {
  margin-top: -10px;
  font-weight: bold;
}
.container-form-signup .form .class-btn {
  margin: 0px 16% !important;
  width: 69% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-signup .form .class-btn span {
  display: inline-block;
  font-size: 90%;
  text-align: justify;
  color: rgba(0, 0, 0, 0.7);
  line-height: 20px;
  margin-top: 2%;
}
.container-form-signup .form .class-btn a {
  color: #306BF3;
}
.container-form-signup .form .class-btn button {
  margin-top: 5em;
  font-size: 110%;
}

input#color {
  border: 1px solid black;
}

.footer {
  margin: 0;
}

/*# sourceMappingURL=signup.css.map */
