/*

    Author: Yonnon

    Website: Madara Web DEMO

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Preloader
    04. Header
    05. Nav

--------------------------------------------- */

/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif; 
  scroll-behavior: smooth;

  &:focus {
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$font-01: "Muli", sans-serif;
$s1: 0.5s;
$m-01: #7681a4;
$m-02: #5d698d;

$c-01: #10182f;
$c-02: #545d7a;
$c-03: #306bf3;

$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #f7f8fc;
$neu-02: #dae1f5;
$neu-03: #6f7073;
$neu-04: #505050;
$neu-05: #403e3e;


$x1: 1200px;

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/

@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}

@mixin lg {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 511px) {
    @content;
  }
}

/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/

/* IPHONE 5, SE */
@mixin v5 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin h5 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

/* IPHONE 6,7,8 */

@mixin v678 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin h678 {
  @media screen and (max-width: 667px) {
    @content;
  }
}

/* IPHONE 6,7,8 (plus) */

@mixin v678P {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin h678P {
  @media screen and (max-width: 736px) {
    @content;
  }
}
/* 


/* IPHONE X */

@mixin vX {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin hX {
  @media screen and (max-width: 812px) {
    @content;
  }
}

/* 


/* SMALL TABLE */

@mixin vSmallTable {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin hSmallTable {
  @media screen and (max-width: 800px) {
    @content;
  }
}

/* 


/* IPAD */

@mixin vIpad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* IPAD PRO */

@mixin vIpadP {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpadP {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* DESKTOP */

@mixin vIpad {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/* 


/* Custom */

@mixin v500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  height: 200vh;
}

img {
  user-select: none;
}

::selection {
  background-color: #eb3349;
  color: #fff;
}

input{
  &::placeholder  {
    color: #545D7A !important;
  }
}

body  {
  height: 100vh;
}
.container-fluid{
  width: 100% !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  .container-f {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important; 
    padding: 0 !important;
    position: relative;
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5%;
        background-color: #eb3349;
        height: 100vh;
        z-index: 9999;
        left: 0px;
        top: 0px;
        position: fixed !important;
        transition: all .5s;
        position: absolute;
        img#logo-img{
          width: 40px;
          height: 40px;
        }

        &:hover .left-title-content{
          transition: all .5s ease;
          display: block;
        }

        .left-title-content{
          display: none;
          transition: all .5s ease 0s;
          a#logo-title{
            color: rgb(236, 229, 229) !important;
            text-transform: uppercase;
            font-weight: normal;
            word-wrap: normal;
            white-space: nowrap;
            font-size: 95%;
            text-decoration: none;
            pointer-events: none;
            font-weight: 600;
            font-size: 1.1em;
          }
        }

        .logo-banner{
          top: 0px;
          left: 0px;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px 0px;
          border-bottom: 1px solid rgba(255,255,255,0.6);
          // &::after{
          //   content: '';
          //   background-color: #fff;
          //   height: 1px;
          //   width: 0;
          //   transition: .1s;
          //   display: block;
          //   // margin: 0 auto;
          // }
          // &:hover::after{
          //   width: 100%;
          // }
        }

        //slide-bar

        .slide-bar{ 
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img{
            width: 25px;
            height: 25px;
          }
          .left-border{
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            flex-direction: column;
            ul{
              display: flex !important;
              flex-direction: column;
              justify-content: center;
              width: 80% !important;
              li{
                display: flex !important;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100% !important;
                margin: 10px 0px;
                &.item{
                  margin-top: 10px;
                  padding: 5px 0px;
                  i{
                    color: rgba(255,255,255,0.6);
                    margin: 0px 5px;
                  }
                  a{
                    color: rgb(243, 232, 232);
                    font-size: 100%;
                    white-space: nowrap;
                    height: 100% !important;
                    display: flex;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    &:hover{
                      border-radius: 25px;
                      background-color: rgba(255,255,255,0.2);
                    }
                  }
                }

                &#active{
                    background-color: #fff;  
                    padding: 5px 0px;
                    width: 100% !important;
                    margin-top: 20px;
                    border-radius: 25px;
                    white-space: nowrap;
                    a, i {
                        color: #eb3349 !important;
                    }
                } 
              }
            }
          }
        }
    }

    .right { 
        width: 95%;
        right: 0px !important;
        top: 0px !important;
        position: absolute;
        height: auto;
        .wrapper-main  {
          padding: 0 3%;
          height: auto;

          .title-content {
            h2 {
              padding: 1em 0;
              line-height: 35px;
              font-weight: 600;
            }
          }

          .function-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .function-select {
              width: 50%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              select {
                width: 40%;
                width: 200px;
                max-width: 300px;
                margin-left: 5%;
                user-select: none;
              }
            }

            .function-search {
              width: 50%;
              .search-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                // position: relative;
                justify-content: flex-end;
                input{
                  width: 300px;
                  height: 40px;
                  border-radius: 3px;
                  cursor: text;
                  caret-color: rgb(3, 46, 190);
                  padding: 0px 18px;
                  outline: invert;
                  border: 1px solid #888888;
                  // &::placeholder{
                  //   color: black;
                  //   font-size: 20px;
                  //   line-height: 20px;
                  //   height: 100%;
                  // }
                  // &:focus{
                  //   font-size: 18px;  
                  //   line-height: 20px;
                  // }
                }
                i{
                  display: flex;
                  position: absolute;
                  // right: 0px;
                  z-index: 3;
                  justify-content: center;
                  align-items: center;
                  background-color: #eb3349;
                  width: 50px;
                  border-top-right-radius: 2px;
                  border-bottom-right-radius: 2px;
                  color: #fff;
                  height: 40px;
                  cursor: pointer;
                  &:hover{
                    background-color: #b62b3b;
                    transition: .4s;
                  }

                  &:active {
                    background-color: #fff;
                  }
                }
              }
            } 
          }

          .add-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .box-add {
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                padding: 15px 20px;
                border-radius: 8px;
                border: 1px solid #FFA1C9;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #fff;
                background-color: #E60965;

                &:hover {
                  background-color: #F94892;
                  transition: all ease .3S;
                }

                span {
                  font-size: 1.3em;
                  font-weight: 600;
                }

                i {
                  padding: 0 10px;
                  margin-top: 3%;
                }
              }
            }
          }

          .wrap-content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 4em 2em;

            table {
                thead {
                    background-color: #343a40;
                    color: #fff;
                    font-size: 1.1em;
                    font-weight: 600;
                }

                tbody {
                    tr { /* row */
                        td:last-child /* item in row */{
                            display: flex;
                            justify-content: flex-start;
                            // align-items: center;
                            a {
                                padding: 5px 25px;
                                border-radius: 3px;
                                text-decoration: none;
                                margin: 0 0 0 1em;
                            }
                            a.change {
                                background-color: #10182f;
                                color: #fff;
                                &:hover {
                                    background-color: #203239;
                                    transition: all ease .3s;
                                }
                                &:active {
                                    background-color: #fff;
                                }
                            }       

                            a.remove {
                                background-color: #D82148;
                                color: #fff;
                                &:hover {
                                    background-color: #B33030;
                                    transition: all ease .3s;
                                }
                                &:active {
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
          }
        }
    }
}
}


