/*

    Author: Yonnon

    Website: Madara Web DEMO

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Nav Bar
    04. Main content

--------------------------------------------- */

/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif; 
  scroll-behavior: smooth;

  &:focus {
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$font-01: "Muli", sans-serif;
$s1: 0.5s;
$m-01: #7681a4;
$m-02: #5d698d;

$c-01: #10182f;
$c-02: #545d7a;
$c-03: #306bf3;

$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #f7f8fc;
$neu-02: #dae1f5;
$neu-03: #6f7073;
$neu-04: #505050;
$neu-05: #403e3e;


$x1: 1200px;

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/

@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}

@mixin lg {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 511px) {
    @content;
  }
}

/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/

/* IPHONE 5, SE */
@mixin v5 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin h5 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

/* IPHONE 6,7,8 */

@mixin v678 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin h678 {
  @media screen and (max-width: 667px) {
    @content;
  }
}

/* IPHONE 6,7,8 (plus) */

@mixin v678P {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin h678P {
  @media screen and (max-width: 736px) {
    @content;
  }
}
/* 


/* IPHONE X */

@mixin vX {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin hX {
  @media screen and (max-width: 812px) {
    @content;
  }
}

/* 


/* SMALL TABLE */

@mixin vSmallTable {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin hSmallTable {
  @media screen and (max-width: 800px) {
    @content;
  }
}

/* 


/* IPAD */

@mixin vIpad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* IPAD PRO */

@mixin vIpadP {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpadP {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* DESKTOP */

@mixin vIpad {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/* 


/* Custom */

@mixin v500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  height: 100%; 
}

img {
  user-select: none;
  &:hover {

  }
}

::selection {
  background-color: #eb3349;
  color: #fff;
}

/* 
------------------------------------------------
03. Nav Bar
------------------------------------------------
*/
.container-nav {
    .main-nav__category {
        display: flex;
        flex-direction: row;
        p {
            display: inline-block !important;
            margin: 0;
            color: #eb3349;
            font-weight: 600;
        }
        span {
            margin: 0 5px;
        }

        a {
            color: #111;
        }
    }
}

/* 
------------------------------------------------
04. Main content
------------------------------------------------
*/
.container-form-cart {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 30vh;
    margin: 10em auto;
    margin-top: 3em;
    
    @include md {
        width: 100% !important;
        height: 110%;
      }
      // border: 1px solid black;
      // width: 600px;
      width: 70%;
      // height: 700px;
      height: 100%;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0px 15px 45px rgba(0,29,147,0.15);
      .form {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        .form-header  {
            padding: 10px 20px;
            text-align: left;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            @include md {
              display: flex;
              flex-direction: column;
              // justify-content: center;
              align-items: center;
            }
            // @include sm {
            //   margin-top: -40%;
            // }
            h2, p {
              line-height: 30px;
            }
        }

        .form-content {

            &__progress {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin: 2em 0;

                @include md {
                    flex-direction: column;
                }

                span.span-control {
                    font-size: 150%;
                    // font-weight: 600;
                    @include md {
                        display: none;
                    }
                }

                .progress-item {
                    margin: 0 5%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    user-select: none;
                    @include md {
                        margin: 1em 0;
                    }
                    i {
                        font-size: 150%;
                    }

                    p {
                        margin: 10% 0;
                        font-weight: 600;
                        user-select: text;
                        cursor: text;
                    }

                    span {
                        display: block;
                        text-align: center;
                        left: 0;
                        // position: absolute;
                        z-index: 9999;
                        font-weight: bold;
                        width: 100%;
                        width: 35px;
                        height: 35px;
                        background-color: #7b7b7b;
                        border: 1px solid #555555;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            color: #fff;
                        }
                    }
                }

                .first-step {
                    i {
                        color: #eb3349;
                    }

                    p {
                        color: #eb3349;
                    }

                    span {
                        background-color: #eb3349;
                        border: 1px solid #b62b3b;
                    }
                }

                .second-step {
                    i {

                    }

                    p {

                    }
                    
                    span {

                    }
                }

                .third-step {
                    i {

                    }

                    p {

                    }
                    
                    span {

                    }
                }
            }

            &__detailProduct {
                margin: 2em 0;
                table {
                    width: 95%;
                    margin: 0px auto;
                }
            }

            &__mainRedirect {
                display: flex;
                flex-direction: column;
                margin-right: 5%;
                .mainRedirect-totalMoney {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    p {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        color: #111;
                        font-weight: 600;
                    }
                    span {
                        margin: 0 0 0 5%;
                    }
                }

                .mainRedirect-button {
                    padding: 2% 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;

                    button {

                    }

                    a {
                        padding: 10px 15px;
                        border-radius: 5px;
                        text-decoration: none;
                    }

                    &__first {
                        margin: 0 1%;
                        a {
                            background-color: #10182f;
                            color: #fff;
                            &:hover {
                                background-color: #303c5d;
                                transition: all ease .3s;
                            }
                            &:active {
                                background-color: #1a1011;
                                transition: all ease 0s;
                            }
                        }
                    }

                    &__second {
                        a {
                            background-color: #eb3349;
                            color: #fff;
                            &:hover {
                                background-color: #f35b43;
                                transition: all ease .3s;
                            }
                            &:active {
                                background-color: #b62b3b;
                                transition: all ease 0s;
                            }
                        }
                    }
                }
            }
        }
      }
}