/*

    Author: Yonnon

    Website: Madara Web DEMO

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper

--------------------------------------------- */

/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif; 
  scroll-behavior: smooth;

  &:focus {
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$font-01: "Muli", sans-serif;
$s1: 0.5s;
$m-01: #7681a4;
$m-02: #5d698d;

$c-01: #10182f;
$c-02: #545d7a;
$c-03: #306bf3;

$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #f7f8fc;
$neu-02: #dae1f5;
$neu-03: #6f7073;
$neu-04: #505050;
$neu-05: #403e3e;


$x1: 1200px;

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/

@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}

@mixin lg {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 511px) {
    @content;
  }
}

/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/

/* IPHONE 5, SE */
@mixin v5 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin h5 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

/* IPHONE 6,7,8 */

@mixin v678 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin h678 {
  @media screen and (max-width: 667px) {
    @content;
  }
}

/* IPHONE 6,7,8 (plus) */

@mixin v678P {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin h678P {
  @media screen and (max-width: 736px) {
    @content;
  }
}
/* 


/* IPHONE X */

@mixin vX {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin hX {
  @media screen and (max-width: 812px) {
    @content;
  }
}

/* 


/* SMALL TABLE */

@mixin vSmallTable {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin hSmallTable {
  @media screen and (max-width: 800px) {
    @content;
  }
}

/* 


/* IPAD */

@mixin vIpad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* IPAD PRO */

@mixin vIpadP {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpadP {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* DESKTOP */

@mixin vIpad {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/* 


/* Custom */

@mixin v500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  height: 100%; 
}

img {
  user-select: none;
  &:hover {

  }
}

::selection {
  background-color: #eb3349;
  color: #fff;
}

/* 
------------------------------------------------
03. Nav Bar
------------------------------------------------
*/
.container-nav {
    .main-nav__category {
        display: flex;
        flex-direction: row;
        p {
            display: inline-block !important;
            margin: 0;
            color: #eb3349;
            font-weight: 600;
        }
        span {
            margin: 0 5px;
        }

        a {
            color: #111;
        }
    }
}

/* 
------------------------------------------------
04. Main content
------------------------------------------------
*/
.container-form-completed {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    margin: 10em auto;
    margin-top: 3em;
    width: 60%;
    height: 100%;
    border-radius: 3px;

    @include md {
        width: 100% !important;
        height: 110%;
    }

      .form {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        //   padding: 0 5%;
        .alert-success {
            margin: 2em 0;
        }

        .order-details {
            border: 1px solid #cccccc;
            padding: 0 2%;

            &__header {
                h3 {
                    font-weight: 600;
                }
            }
            
            &__date {
                font-size: 1.2em;
                padding: 1em 0;
            }

            &__paymentmethods {
                font-size: 1.2em;
                padding: 1em 0;
            }

            &__table {
                font-size: 1.2em;
                h2 {
                    font-weight: 600;
                }

                table {
                    margin-top: 1.5em;
                    tr {
                        th {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            &__total {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 1em 0 4em 0;

                p {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    font-size: 1.6em;
                    font-weight: 600;
                }

                span {
                    font-size: 1.3em;
                    color: #eb3349;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                }
            }
        }
      }

      .redirect-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 3em;
        a {
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
        }
        &__first {
            margin: 0 1%;
            a {
                background-color: #10182f;
                color: #fff;
                &:hover {
                    background-color: #303c5d;
                    transition: all ease .3s;
                }
                &:active {
                    background-color: #1a1011;
                    transition: all ease 0s;
                }
            }
        }

        &__second {
            a {
                background-color: #eb3349;
                color: #fff;
                &:hover {
                    background-color: #f35b43;
                    transition: all ease .3s;
                }
                &:active {
                    background-color: #b62b3b;
                    transition: all ease 0s;
                }
            }
        }
    }
}